.shop-container{
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
    gap: 10px;
    margin: 0 10px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 10px;
    margin: 80px 30px;
}
.cart{
    background-color: rgb(255, 185, 80);
    height: 400px;
    margin-right: 20px;
    position: sticky;
    top: 80px;
    text-align: left;
}
.cart h3, h5{
    margin-left: 10px;
}
.cart p{
    margin-left: 5px;
}